@import "tailwindcss";

:root {
  /* Biar selection text warnanya estetik */
  --accent: #aa3bff;

  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #08060d; /* Memaksa warna dasar body jadi gelap pekat */
}

/* Hapus atau komentari kode template lama yang mengatur h1, h2, p secara global 
   agar tidak merusak utility class dari Tailwind */
